*{
    padding: 0;
    margin: 0;
}
td{
    border: none;
    padding: 10px 20px;
}
body{
    background-color: #211951;
    display: flex;
    align-items: center;
    justify-content: center;
}
td{
    font-size: 24px;
    font-weight: 800;
}
table{
    margin-top: 50px;
}
a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}
img.icon{
    height: 50px;
    border: 5px solid red;
    border-radius: 50%;
}
img.iconm{
    height: 50px;
}